* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light: #9eca83;
    --primary: #548c31;
    --secondary: #74c044;
    --text: #324029;
    --dark-green: #264016;
    --ice: #e6eae1;
}

/* HEADER STYLE */
body {
    background-color: var(--dark-green);
}

.header-style {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    margin: 30px 380px;
    border-radius: 15px;
    padding: 10px 40px;

    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.header-logo {
    background-color: white;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    width: 55%;
}

.header-menu a {
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.header-menu a:hover {
    color: var(--secondary);
    cursor: pointer;
    transition: 0.4s;
}

.header-button {
    background-color: white;
}

.header-button button {
    background-color: var(--light);
    padding: 15px;
    border-radius: 15px;

    border: 0px;
    color: var(--text);
    text-transform: uppercase;
    font-size: 15px;
}

.header-button button:hover {
    background-color: var(--text);
    color: white;
    cursor: pointer;
    transition: 1s;
}

/* MAIN STYLE */
.main-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    margin-top: 80px;
    width: 65%;
}

.main-principal-text {
    padding-left: 10px;

    h3 {
        color: white;
        text-transform: uppercase;
    }

    h1 {
        margin-top: 10px;

        color: var(--light);
        text-transform: uppercase;
        font-size: 3em;
    }

    p {
        margin-top: 10px;
        color: white;
        font-size: 1.3em;
    }
}

.main-contact-lenses {
    background-color: var(--ice);
    margin-top: -4px;
    padding-bottom: 50px;

    h2 {
        padding-top: 50px;
        text-align: center;

        color: var(--text);
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.main-contact-lenses-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin: auto;
    margin-top: 50px;

    h3 {
        font-size: 30px;
        text-transform: uppercase;
        color: var(--text);
    }

    p {
        font-size: 20px;
        margin-right: 30px;
        margin-top: 15px;
    }

    ul {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 20px;
    }

    button {
        background-color: var(--light);
        margin-top: 30px;
        padding: 15px;
        border-radius: 15px;

        border: 0px;
        color: var(--text);
        text-transform: uppercase;
        font-size: 15px;
    }

    button:hover {
        background-color: var(--text);
        color: white;
        cursor: pointer;
        transition: 1s;
    }

    img {
        margin-left: 30px;
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
}

.main-treatments {
    background-color: white;
}

.main-treatments h2 {
    padding-top: 50px;
    text-align: center;

    color: var(--text);
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.main-treatments-options {
    padding: 80px 20px 50px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.option-content {
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-basis: 100%;
    margin-bottom: 50px;
    background-color: rgb(243, 243, 243);

    .icon {
        color: var(--primary);
    }

    h2 {
        padding-top: 20px;
        font-size: 1.5em;
        color: var(--text);
        margin-bottom: 30px;
    }

    h4 {
        font-size: 1.3em;
        font-weight: bold;
        color: var(--text);
        margin-top: 20px;
        text-align: left;
        text-transform: uppercase;
    }

    p {
        margin-top: 10px;
        font-size: 19px;
        text-align: left;
    }

    ul {
        font-size: 19px;
        margin-top: 10px;
        margin-left: 20px;
        text-align: left;
    }

    button {
        background-color: var(--light);
        margin-top: 30px;
        padding: 15px;
        border-radius: 15px;

        border: 0px;
        color: var(--text);
        text-transform: uppercase;
        font-size: 15px;
    }

    button:hover {
        background-color: var(--text);
        color: white;
        cursor: pointer;
        transition: 1s;
    }
}

.main-about {
    background-color: var(--ice);
    padding-bottom: 50px;

    h2 {
        padding-top: 50px;
        text-align: center;

        color: var(--text);
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
    }
}

.main-about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 50px;

    h3 {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 15px;
        color: var(--text);
    }

    p {
        font-size: 20px;
        margin-right: 70px;
    }

    img {
        border-radius: 15px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    }
}

/* FOOTER STYLE */
.footer-content {
    background-color: var(--dark-green);
    height: 400px;
}

.footer-content h2 {
    padding-top: 30px;
    text-align: center;

    color: white;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-content p {
    text-align: center;
    color: var(--light);
}

.contact-content {
    margin: auto;
    width: 60%;
    padding: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-location iframe {
    border-radius: 15px;
}

.contact-infos {
    width: 40%;
}

.contact-infos p {
    color: white;
    margin-bottom: 20px;
    text-align: left;
    font-size: 18px;
}

.social-medias a {
    text-decoration: none;
}

.social-medias i {
    color: white;
    margin-right: 10px;
}

.social-medias i:hover {
    color: var(--primary);
    transition: 0.7s;
}

/* WHATSAPP BUTTON */
.whatsapp {
    display: flex;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--secondary);
    height: 63px;
    width: 63px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.whatsapp i {
    color: white;
}

/* -------------------------------------------- */
/* ESTILIZAÇÃO PARA DIFERENTES TAMANHOS DE TELA */
/* -------------------------------------------- */

@media (max-width: 1680px) {
    .contact-content {
        width: 70%;
    }
}

@media (max-width: 1440px) {
    .header-style {
        margin: 15px 220px;
        padding: 7px 20px;
    }

    .header-logo img {
        width: 150px;
        height: 32.607px;
    }

    .header-menu a {
        font-size: 12px;
    }

    .header-button button {
        padding: 10px;
        font-size: 12px;
        border-radius: 10px;
    }

    .main-principal {
        width: 70%;
        margin-top: 50px;
    }

    .main-principal-text {
        h3 {
            font-size: 0.9em;
        }

        h1 {
            font-size: 2.3em;
        }

        p {
            font-size: 0.9em;
        }
    }

    .main-principal-image {
        img {
            width: 326.574px;
            height: 490px;
        }
    }

    .main-contact-lenses {
        h2 {
            padding-top: 35px;
            font-size: 1.8em;
        }
    }

    .main-contact-lenses-content {
        width: 75%;

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 17px;
        }

        ul {
            font-size: 17px;
        }
    }

    .main-treatments h2 {
        padding-top: 35px;
        font-size: 1.8em;
    }

    .main-treatments-options {
        width: 65%;
    }

    .option-content {
        h2 {
            font-size: 1.4em;
        }

        h4 {
            font-size: 1.2em;
        }

        p {
            font-size: 17px;
        }

        ul {
            font-size: 17px;
        }
    }

    .main-about {
        h2 {
            padding-top: 35px;
            font-size: 1.8em;
        }
    }

    .main-about-content {
        width: 75%;

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 17px;
        }

        img {
            width: 350px;
            height: 350px;
        }
    }

    .footer-content h2 {
        padding-top: 35px;
        font-size: 1.8em;
    }

    .contact-content {
        width: 70%;
    }

    .contact-location iframe {
        width: 500px;
        height: 250px;
    }

    .contact-infos p {
        font-size: 15px;
    }

    .whatsapp {
        height: 58px;
        width: 58px;
    }
}
